<div class="container-fluid main-menu">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-weight: bold;" ><i class="far fa-snowflake"></i>APP-Weather</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              > 
              <div style="display:flex;flex-direction:column">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                </div>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                  </li>

                 
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>